.grid{
    margin: auto;
}

.selectionGrid {
    width: 80%;
    margin-bottom: 10px;
    height:100px;
    text-align:center;
    margin: 0 auto;
}

.selectionNum {
    width: 100px;
    font-size: 50px;
    display: inline-block;
    color:#ffffff
}

.selectionBtn {
    display: inline-block;
    

}

.container {
    border:3px solid #fcfbfe;
    display: inline-block;
}

.gridRow {
    height:2vw;
}

.algorithmBtn {
    width:120px;
    height:60px;
    background-color:#000000;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Courier New';
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}

.algorithmBtn:hover{
    color:#000000;
    background-color:#FFFFFF;
}

.algorithmBtn {
    
}