.grid{
    margin: auto;
}

.selectionGrid {
    width: 80%;
    text-align:center;
    margin: 0 auto;
    height:200px;
}

.v1 {
    border-left: 6px solid green;
    height:120px;
}

#vline {
    display: inline-block;
    border-left: 6px solid green;
    height:100%;
}

.sel {
    display: inline-block;
    height: 120px;
}


.container {
    border:3px solid #fcfbfe;
    display: inline-block;
    margin-top: 50px;
}

.gridRow {
    height:2vw;
}

.algorithmBtn {
    width:120px;
    height:120px;
    background-color:#000000;
    border:1px solid #FFFFFF;
    font-family:'Courier New';
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}


.algorithmBtn:hover{
    color:#000000;
    background-color:#FFFFFF;
}

