.grid{
    margin: auto;
}

.selectionGrid {
    width: 100%;
    text-align:center;
    margin: 0 auto;
    display: inline-block;
    margin-top: 50px;
}

.v1 {
    border-left: 6px solid green;
    height:120px;
}

#vline {
    display: inline-block;
    border-left: 6px solid green;
    height:100%;
}

.sel {
    display: inline-block;

}

.selright {
    display:inline-block;
    margin-left:50px;
    border-left:3px solid #fcfbfe;;
    padding-left: 30px;
}


.container {
    border:3px solid #fcfbfe;
    display: inline-block;
    margin-top: 50px;
}

.gridRow {
    height:2vw;
}

.algorithmBtn {
    width:120px;
    height:80px;
    text-align: center;
    margin: auto;
    color:#FFFFFF;
    background-color:#000000;
    border:1px solid #fcfbfe;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20px;


}

.visitCounter {
    text-align: center;
    margin: auto;
    color:#FFFFFF;
    background-color:#000000;
    border:1px solid #fcfbfe;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20px;
}


.algorithmBtn:hover{
    color:#000000;
    background-color:#FFFFFF;
}

